{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <!-- Велосипеди -->
        <div class="main container-fluid padding">
            <div class="block1">
                {% for product in product_list %}
                    <div href="{% url 'products:product-detail' product.id %}">
                        <img src="{{ product.image.url }}" width="470" height="370px" alt="">
                        <hr>
                        <h4>
                            {{ product.name }}
                        </h4>
                        <p>Ціна: {{ product.price }} грн.</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- ./Велосипеди -->
    </div>
{% endblock content %}
